<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/banner.css">
  

  <script src="/static/lib/jQuery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
  {% include 'navbar.htm' %}
  <div class="banner">
    <div class="image-container">
      <img src="/static/images/bus1.jpg">
    </div>
    <div class="text-area">
      <h1>Long roads ahead!</h1>
    </div>
  </div>

  <div class="container banner-container">
    <h3 class="text-info">Search for Bus</h3>

      <select id="flight-name" class="form-control">
        <option>Select Bus!</option>
        {% for i in buses: %}
          <option value="{{i[0]}}">{{i[1]}}</option>
        {% endfor %}
      </select>
      <!-- <form class="form-row">
        <div class="form-group col-5">
          <input class="form-control" placeholder="From">
        </div>
        <div class="form-group col-5">
          <input class="form-control" placeholder="To">
        </div>
        <div class="form-group col-2">
          <button class="btn btn-primary">Search</button>
        </div>
      </form> -->
    
  </div>

  <div>
    <table class="table table-borderless d-none table-sm" id="flightSelectionTable">
      <thead class="table-danger">
        <tr>
          <td>Airline</td>
          <td>Date</td>
          <td>Time</td>
          <td></td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>


  </div>
  <script>
    document.getElementById("flight-name").addEventListener("change", function () {
      var id = this.value;
      $.get("/flight/" + id, function (data) {
        console.log(data);
        var innerHTMLText = '';
        data.showtimes.forEach(function (flight) {
          innerHTMLText += '<tr><td>' + flight[1] + '</td><td>' + flight[2] + '</td><td>' + flight[3] +
            '</td></td><td><button class="btn btn-sm btn-success" onclick="book(' + flight[4] +
            ')">Book</button></td>';
        });
        document.querySelector("#movieSelectionTable").classList.remove("d-none");
        document.querySelector("#movieSelectionTable tbody").innerHTML = innerHTMLText;

      })
    });

    function book(showtimeId) {
      console.log('book')
      window.location.replace("/movie/book/" + document.querySelector("#movie-name").value + "/" + showtimeId);
    }
  </script>
</body>


</html>