<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reservation System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/home.css">
  <script src="/static/lib/jQuery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>


</head>

<body>

  {% include "navbar.htm" %}
  <div class="banner-container">
    <div class="banner text-center">
      <div class="text-area">
        <h3>One Stop Booking!</h3>
        <a class="btn btn-outline-primary" href="/register">Register Now!</a>
      </div>
    </div>
  </div>

</body>

</html>