<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Movie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/banner.css">

  <script src="/static/lib/jQuery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
  {% include 'navbar.htm' %}
  <div class="banner">
    <div class="image-container">
      <img src="/static/images/movie1.jpg">
    </div>
    <div class="text-area">
      <h1>Movies</h1>
    </div>
  </div>
  <div class="container mt-4">
    <!-- Tabs -->
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-create" role="tab"
          aria-controls="nav-create" aria-selected="false">Book New</a>
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-view" role="tab" aria-controls="nav-view"
          aria-selected="true">View Bookings</a>

      </div>
    </nav>


    <!-- Tab Content -->
    <div class="tab-content mt-4" id="nav-tabContent">
      <!-- Create New -->
      <div class="tab-pane fade show active" id="nav-create" role="tabpanel">

        <div class="form-container">
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="movie-name">Select Movie</label>
              <select class="form-control" id="movie-name">
                <option>Movies Here!</option>
                {% for i in movies: %}
                  <option value="{{i[1]}}">{{i[0]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div id="movieDetailSelection" class="d-none">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="movie-date">Select Date</label>
                <select class="form-control" id="movie-date">
                  <option>Select movie Date!</option>
                </select>
                <div class="form-group col-sm-12">
                  <label for="movie-time">Select Time</label>

                  <select class="form-control" id="movie-time">
                    <option>Select movie Time!</option>

                  </select>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2"><button class="btn btn-success">Proceed to Payment</button></div>
              <div class="col-sm-2"><button class="btn btn-danger">Reset</button></div>
            </div>

          </div>

          <div>
            <table class="table table-borderless d-none table-sm" id="movieSelectionTable">
              <thead class="table-danger">
                <tr>
                  <td>Type</td>
                  <td>Date</td>
                  <td>Time</td>
                  <td></td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>


          </div>
        </div>
      </div>

      <!-- View Bookings -->
      <div class="tab-pane fade" id="nav-view" role="tabpanel">
        <table class="table table-light table-bordered">
          <thead class="table-danger">
            <tr>
              <td>Movie Name</td>
              <td>Movie Date</td>
              <td>Movie Time</td>
              <td>Movie Seats</td>
            </tr>
          </thead>
        </table>
      </div>


    </div>

  </div>

  <script>
    document.getElementById("movie-name").addEventListener("change", function(){
      var id = this.value;
      $.get("/movie/getShowTimes/"+id, function(data){
        console.log(data);
        var innerHTMLText = '';
        data.showtimes.forEach(function(movie){
          innerHTMLText+='<tr><td>'+movie[1]+'</td><td>'+movie[2]+'</td><td>'+movie[3]+'</td></td><td><button class="btn btn-sm btn-success" onclick="book('+movie[4]+')">Book</button></td>';
        });
        document.querySelector("#movieSelectionTable").classList.remove("d-none");
        document.querySelector("#movieSelectionTable tbody").innerHTML = innerHTMLText;

      })
    });

    function book(showtimeId){
      console.log('book')
      window.location.replace("/movie/book/"+document.querySelector("#movie-name").value+"/"+showtimeId);
    }
  </script>
</body>

</html>