<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Railway</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/banner.css">

  <script src="/static/lib/jQuery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
  {% include 'navbar.htm' %}
  <div class="banner">
    <div class="image-container">
      <img src="/static/images/railway1.jpg">
    </div>
    <div class="text-area">
      <h1>Explore the Country!</h1>
    </div>
  </div>

  <div class="container banner-container">
    <h3 class="text-info">Search for trains</h3>
    <select id="train-name" class="form-control">
      <option>Select Trains!</option>
      {% for i in trains: %}
        <option value="{{i[0]}}">{{i[1]}}</option>
      {% endfor %}
    </select>
    <!-- <form class="form-row">
      <div class="form-group col-5">
        <input class="form-control" placeholder="From">
      </div>
      <div class="form-group col-5">
        <input class="form-control" placeholder="To">
      </div>
      <div class="form-group col-2">
        <button class="btn btn-primary">Search</button>
      </div>
    </form> -->

    <table class="table table-borderless d-none table-sm mt-4" id="trainSelectionTable">
      <thead class="table-danger">
        <tr>
          <td>Type</td>
          <td>Date</td>
          <td>Time</td>
          <td></td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <script>
    document.getElementById("train-name").addEventListener("change", function(){
      var id = this.value;
      console.log(this);
      $.get("/railway/"+id, function(data){
        console.log(data);
        var innerHTMLText = '';
        data.details.forEach(function(train){
          innerHTMLText+='<tr><td>'+train[1]+'</td><td>'+train[2]+'</td><td>'+train[3]+'</td></td><td><button class="btn btn-sm btn-success" onclick="book('+train[4]+')">Book</button></td>';
        });
        document.querySelector("#trainSelectionTable").classList.remove("d-none");
        document.querySelector("#trainSelectionTable tbody").innerHTML = innerHTMLText;

      })
    });

  </script>
</body>

</html>