<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/login.css" />
  <script src="/static/lib/jQuery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>

  {% include 'navbar.htm' %}
  <div class="container login-form">
    <form class="form-row" action='' method="POST">
      <div class="col-12">
        <div class="form-row">
          <div class="form-group col-6">
            <input class="form-control" placeholder="First Name">
          </div>
          <div class="form-group col-6">
            <input class="form-control" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="form-group col-12">
        <input class="form-control" name='username' placeholder="Username">
      </div>
      <div class="form-group col-12">
        <input class="form-control" name='password' placeholder="Password">
      </div>
      <div class="form-group col-12">
        <input class="form-control" placeholder="Confirm Password">
      </div>
      <div class="form-group col-4">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-success">Register</button>
          </div>
        </div>
      </div>
    </form>


  </div>
</body>

</html>